div {
    width: 50%; 
    height: 50%; 
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: solid;
}

h1 {
    margin: 50px;
}

p {
    padding: 100px;
}

p::before {
    content: '🏴‍☠️🏴‍☠️';
}